@page {
  margin: 0;
  position: absolute;
}

body {
  margin: 0
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

.form-btns {
  align-content: center;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 300px;
  z-index: 1000;
}

.btn {
  border: 0.5px solid #253047;
  margin: 3px;
  cursor: pointer;
}

.btn i {
  margin-right: 5px;
}

.btn:hover {
  opacity: 0.65;
}

header {
  text-align: center;
}

/** Paper sizes **/
body.A4 .sheet {
  width: 210mm;
  height: 296mm
}

body.letter .sheet {
  width: 216mm;
  height: 279mm
}

body.legal .sheet {
  width: 216mm;
  height: 356mm
}

/** Padding area **/
.sheet.padding-10mm {
  padding: 10mm
}

.sheet.padding-15mm {
  padding: 15mm
}

.sheet.padding-20mm {
  padding: 20mm
}

.sheet.padding-25mm {
  padding: 25mm
}

/** For screen preview **/
@media screen {
  body {
    background: #e0e0e0
  }

  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.A4 {
    width: 210mm;
  }

  body.letter,
  body.legal {
    width: 216mm;
  }

  .form-btns {
    display: none;
  }
}