body {
    font-family: 'Metropolis', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    text-align: center;
    transform: translateX(-100px);
}

h1 {

    color: #f98a2c;
    margin-bottom: 20px;
    transform: translateX(80px);

}

form {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* Increased height */
}

input[type="submit"] {
    background-color: #f98a2c;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.65;
}
